.form {
  background-image: url("../../img/perro\ mirando.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.newDogform {
  top: 40px;
  left: -350px;

  position: relative;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f2b50f;
}

.newDogform select {
  display: block;
  margin-bottom: 10px;
}

.newDogform label {
  font-weight: bold;
}

.newDogform input,
input {
  align-content: center;
  width: 100%;
  padding: 4px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
