.search {
  display: flex;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  gap: 5px;
  padding: 12px;
}

.input {
  height: 30px;
  width: 300px;
  border-radius: 4px;
}
.button {
  height: 30px;
  width: 75px;
  display: inline-block;
  padding: 5px;
  margin-bottom: 4px;
  color: rgb(47, 45, 45);
  border: 1px solid rgb(47, 45, 45);
  border-radius: 4px;
}
