.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/fondo\ blanco.jpg");
}

.contfiltSearch {
  top: 15px;
  display: flex;
  align-items: center;
  gap: 175px;
  justify-content: space-between;
}

.Home .filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 760px;

  padding: 12px;
  display: grid;
  height: 20px;
  gap: 40px;
  place-content: center;
  grid-template-columns: repeat(auto-fit, 150px);
}

.Home .select {
  height: 30px;
  outline: none;
  background-color: transparent;
  border-radius: 4px;
}

.Home__filters option {
  background-color: var(--primary-color);
}
