header {
  width: 100%;
  overflow: hidden;
  background: #f2b50f;
  margin-bottom: 20px;
}

.wrapper {
  margin: auto; /* Centramos los elementos */
  overflow: hidden; /* Eliminamos errores de float */
}

header .logo {
  color: #fff;
  font-size: 50px;
  line-height: 150px;
  float: left;
  margin-left: 20px;
}

header nav {
  float: right;
  line-height: 150px;
  margin-right: 20px;
  gap: 100px;
}

header nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  line-height: normal;
  font-size: 25px;
  font-weight: bold;

  transition: all 500ms ease;
}

header nav a:hover {
  background: #f9ce63;
  border-radius: 10px;
}
